/*Modicicaión de cabeceras H2*/
h2{
    color: rgb(88, 174, 77);
}
.mensaje{
 background-color: rgb(83, 62, 107);
}
.conclusion{
    background-color: lightblue;

}
body{
    background-image: url(./);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
    background-size: contain;
}