/*Modicicaión de cabeceras H2*/
h2{
    color: rgb(88, 174, 77);
}
.mensaje{
 background-color: rgb(83, 62, 107);
}
.conclusion{
    background-color: #ff000f;

}
body{
    background-image: url(./DT.JPG);
    background-repeat: no-repeat;
    background-position: right top;
    margin: auto;
    background-attachment: ;
    background-size: contain;
}